/* .Img1 {
  height: auto;
  width: auto;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/anime-night-sky-illustration_23-2151684373.jpg?semt=ais_hybrid&w=740");
}
.Img2 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/anime-night-sky-illustration_23-2151684333.jpg");
} */
