* {
  margin: 0;
  padding: 0;
  color: white;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: cursive;
  /* background-color: #bf283b; */
  overflow: hidden;
  /* box-shadow: 2px 2px 2px 2px #bf283b; */
}
h1 span {
  display: inline-block;
  color: #cfc2c4;
  font-size: 60px;
  /* text-shadow: 2px 2px 8px #bf283b; */
  text-shadow: 0 0 5px #bf283b, 0 0 10px #bf283b, 0 0 20px #ff2f56,
    0 0 40px #ff2f56;
  /* text-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff, 0 0 20px #00cfff,
    0 0 40px #009eff; */
}
